#{extends 'main.html' /}
#{set title:'Liste des tâches' /}

<h1>Liste des tâches</h1>

#{if tasks}
<ul>
	#{list items:tasks, as:'task' }
		<li id=${task.id}">

			#{if task.done}
				<input data=${task.id} type="checkbox" checked=true >
			#{/if}
			#{else}
				<input data=${task.id} type="checkbox">
			#{/else}
			<span class="title">${task.title}</span>
			<a href="#" data=${task.id} class="edit"><img src="@{'/public/images/edit.png'}" alt="modifier la tache" width="10" height="10"></a>
			<a href="#" data=${task.id} class="del"><img src="@{'/public/images/delete.png'}" alt="supprimer la tache" width="10" height="10"></a>
		</li>
		</br>
	#{/list}
</ul>
#{/if}
#{else}
	<p>Aucune tâche</p>
#{/else}

<p>
	<a href="@{Application.ajouterTacheForm()}">
		Ajouter une nouvelle tâche
	</a>
</p>


<script type="text/javascript" charset="utf-8">

    // Exemple type d'une requête AJAX avec la bibliothèque JQuery.
    // http://api.jquery.com/jQuery.ajax/
    /*
    $.ajax({
        url: '', 	// NomControleur.nomMethode() (Spécifique à Play!)
        type: '',   // Type de la requete HTTP (GET, POST, PUT, ...)
        data: {},   // Données à envoyer au serveur
        success: function(result) { // Fonction appelé en cas de success      
        }
    });
    */


    // Validation d'une tâche (appel ajax - requête POST)
    $("input:checkbox").live("click", function(event){
        $.ajax({
            url: '@{Application.validerTache()}',
            type: 'POST',  
            data: {id: $(this).attr('data')}
        });
    });


    // Suppression d'une tâche (appel ajax - requête DELETE)
    $('li a.del').click(function(event){
        // Annule l'action implicite
        // Ex. l'action implicite associée à un événement de type submit est l'envoi au serveur du formulaire concerné.
        event.preventDefault();

        // Affiche une popup de confirmation de suppression
        var confirmSuppr = confirm('Supprimer la tâche ?');

        // Si click sur ok, requête ajax vers serveur pour supprimer la tâche
        if(confirmSuppr) {
            $.ajax({
                url: '@{Application.supprimerTache()}',
                type: 'DELETE',
                data: {id: $(this).attr('data')},
                success: function(result) {
                    $('#' + result.id).remove();
					location.reload();
                }
            });
        }
    });


    // Modification d'un tâche (appel ajax - requête PUT)
    $('li a.edit').click("click", function(event) {
        // Annule l'action implicite
        event.preventDefault();
        
        // Affiche une popup de modification avec le titre de la tâche actuelle
        var newTitle = prompt('Tâche : ', $(this).prev().text());
        // Si click sur ok, requête ajax vers serveur pour modifier la tâche
        if(newTitle) {
            $.ajax({
                url: '@{Application.editTache()}',
                type: 'PUT',
                data: {id: $(this).attr('data'), title: newTitle},
                success: function(result) {
                    $('#' + result.id + ' span').text(result.title);
					location.reload();
                }
            });
        }
    });

</script>